h1
{
    text-align: center;
}

ul
{
    list-style-type: none;
}

li
{
    padding-left: 25px;
    margin-right: 25%;
    padding-bottom: 5px;
    padding-top: 5px;
}

li:hover
{
    transition-duration: 500ms;
    background-color: #b3e6ea;
}

.regButton 
{
  background-color: #405cf5;
  border-radius: 12px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 100%;
  height: 40px;
  width: 200px;
  margin-left: 50px;
  margin-top: 25px;
  text-align: center;
}

.delButton
{
    background-color: Red;
    border-radius: 12px;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: "Segoe UI";
    font-size: 100%;
    height: 30px;
    width: 100px;
    text-align: center;
}

#detailsDiv
{
    margin-left: 50px;
}

#postTitle
{
    width: 99.5%; /* Roughly matches size of TinyMCE */
    height: 50px;
    font-size: 28px;
}

#detailsBody
{
    margin-left: 50px;
    margin-right: 50px;
}